[Unit]
Description=Agent de mise à jour DG2R
Requires=media-DG2R-DG2R.mount
After=media-DG2R-DG2R.mount

[Service]
Environment=XAUTHORITY=/home/DG2R/.Xauthority
Environment=DISPLAY=:0
User=DG2R
ExecStart=/usr/local/bin/scan_for_update.sh /media/DG2R/DG2R

[Install]
WantedBy=media-DG2R-DG2R.mount